# Exclude storages for projects
.idea

# Configs
/config/php-ini/*
!/config/php-ini/php.ini
/config/php-conf/*
!/config/php-conf/.gitkeep
/config/redis/*
!/config/redis/.gitkeep

# DB data
/data/mysql/*
!/data/mysql/.gitkeep
/data/redis/*
!/data/redis/.gitkeep

# Logs
/logs/php/*
!/logs/php/.gitkeep

# Code
/code/*
!/code/index.php
!/code/xdebug.php