# Exclude storages for projects
.idea

/config/php-conf/*
/config/php-ini/*
/config/nginx/*
/config/redis/*
!/config/php-conf/.gitkeep
!/config/php-ini/.gitkeep
!/config/nginx/.gitkeep
!/config/redis/.gitkeep

/data/mysql/*
/data/redis/*
!/data/mysql/.gitkeep
!/data/redis/.gitkeep

/logs/php/*
!/logs/php/.gitkeep

# Except index
!/code/index.htm
!/code/index.html
!/code/index.php